﻿@model WebApplication.ViewModel.BitacoraArchivosViewModel

@{
    ViewBag.Title = "Bitacora de Archivos";

    
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> @ViewBag.Title </h1>
    </div>
</div><!--/.row-->
<div class="panel-body">
    <div class="panel panel-primary filterable">
        <div class="panel-heading">
            Cantidad de Archivos: @Model.NumeroBitacoraArchivos
            <div class="pull-right">
                <button type="button" class="btn btn-primary addEditBtn" data-toggle="modal" data-target="#myModal" data-action="add"><i class="fa fa-plus"></i>&nbsp;Agregar</button>
            </div>
        </div>
        <table id="datatable" class="table table-striped">
            <thead>
                <tr class="filters" data-search="true">
                    <th><input type="text" class="form-control" placeholder="Id" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Nombre" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Extension" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Id Incidencia" disabled></th>
                    <th>
                        <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filtro</button>
                    </th>
                </tr>
            </thead>
            <tbody id="bodydatatable">
                @foreach (var item in Model.ListBitacoraArchivos)
                {
                    <tr  data-id="@item.IdArchivo">
                        <td data-col="id">
                            @item.IdArchivo
                        </td>
                        <td data-col="nom">@item.Nombre</td>
                        <td>@item.Extension</td>
                        <td data-col="inci">@item.IdIncidencia</td>
                        <td>
                          <button type="button" class="btn btn-default addEditBtn" data-action="edit" data-toggle="modal" data-target="#myModal">
                              <i class="fa fa-pencil"></i>&nbsp;Editar
                          </button>
                        </td>
                        <td>
                        <button type="button" class="btn btn-default deleteEntry">
                            <i class="fa fa-trash"></i>&nbsp;
                        </button>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div><!--/.row-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Administrar Archivos</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-lg-12">
                                    <input type="hidden" data-url="@Url.Action("Add")" id="addUrl">

                                    <input type="hidden" data-url="@Url.Action("Edit")" id="editUrl">

                                    <form action="#" method="post" role="form" id="formAddEdit" data-action="add">
                                        @Html.HiddenFor(x => x.obj.IdArchivo, new { @Class = "form-control" })
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            @Html.TextBoxFor(x => x.obj.Nombre, new { @Class = "form-control" })
                                        </div>

                                        <div class="form-group">
                                            <label>Archivo</label>
                                            <input class="form-control" id="obj_Archivo1" name="Archivo" type="file" value="">
                                        </div>
                                        <div class="form-group">
                                            <label>Incidencia</label>
                                            @Html.DropDownListFor(x => x.SelectedIncidencia,Model.EnumIncidencia(), new { @Class = "form-control", type = "file" })
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.row-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Post Add Edit -->
<script>
    //Submit form override
    $("#formAddEdit").submit(function (e) {
        e.preventDefault();
        console.log($(this).serialize());
        var formdata = new FormData($(this).get(0));
        var action = $(this).data("action");
        var url = $("#addUrl").data("url");
        var obj = $(this).serialize();
        if (action == "add") {
            url = $("#addUrl").data("url");
            //formData.append("Archivo1",($("#obj_Archivo1"))[0].files[0]);
            console.log(($("#obj_Archivo1"))[0].files[0]);
        } else if (action == "edit") {
            url = $("#editUrl").data("url");
            //formData.append("IdArchivo", $("#obj_IdArchivo").val());
        } else {
            return;
        }
        //formData.append("obj", obj);
        console.log(formdata);
        $.ajax({
            url: url,
            type: 'POST',
            data: formdata,
            contentType: false,
            processData: false
        }).done(function (result) {
            $('#myModal').modal('toggle');
            console.log(result);
            if (result == "ok") {
                parent.location.reload();
            }
        }).always(function (e) { console.log(e) });
    });
    $("#btnGuardar").click(function () {

        $("#formAddEdit").submit();

    });

    //modal open override
    $('#myModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var modal = $(this)
      if ($("#formAddEdit").data("action") == "edit") {

        var row = button.parent().parent();
        modal.find('#obj_IdArchivo').val(row.find('td[data-col="id"]').text());
        modal.find('#obj_Nombre').val(row.find('td[data-col="nom"]').text());
        modal.find('#SelectedIncidencia').val(row.find('td[data-col="inci"]').text());

        modal.find('#obj_Archivo1').prop('disabled', true);
      } else if ($("#formAddEdit").data("action") == "add") {
          modal.find("input").val('');
          modal.find('#obj_Archivo1').prop('disabled', false);
      }
    });

    $('.addEditBtn').click(function (e) {
        $("#formAddEdit").data("action", $(this).data("action"));
        //if($(this).data("action") == "add")$("#obj_Archivo1").show();
        //else if($(this).data("action") == "edit")$("#obj_Archivo1").hide();
    })

    $('.deleteEntry').click(function(e){
      e.preventDefault();
      var id = $(this).parent().parent().data("id");
      var url = "@Url.Action("Delete")";
      $.ajax({
          url: url+"/"+id, type: 'get'
      }).done(function (result) { if(result == "ok")parent.location.reload();})
      .always(function (e) { console.log(e) });

    });
</script>
