﻿@model WebApplication.ViewModel.BitacoraSeguimientosViewModel

@{
    ViewBag.Title = "Bitacora de Seguimientos";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> @ViewBag.Title </h1>
    </div>
</div><!--/.row-->
<div class="panel-body">
    <div class="panel panel-primary filterable">
        <div class="panel-heading">
            Cantidad de Seguimientos: @Model.NumeroBitacoraSeguimientos
        </div>
        <table class="table table-striped">
            <thead>
                <tr class="filters" data-search="true">
                    <th><input type="text" class="form-control" placeholder="Id" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Acronimo" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Description" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Fecha" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Id Incidencia" disabled></th>
                    <th>
                        <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filtro</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListBitacoraSeguimientos)
                {
                    <tr>
                        <td>
                            @item.IdSeguimiento
                        </td>
                        <td>@item.Acronimo</td>
                        <td>@item.Descripcion</td>
                        <td>@item.Fecha</td>
                        <td>@item.IdIncidencia</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div><!--/.row-->
