﻿@{
    ViewBag.Title = "Información";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewBag.Title</h1>
    </div>
</div><!--/.row-->
<div class="jumbotron">
    <h2>Trabajo Final</h2>
    <h3>SI422 - APLICACIONES WEB</h3>

    <p>
        Este trabajo tiene por objetivo que los estudiantes sean capaces de desarrollar aplicaciones Web .NET
        con conexión a base de datos mediante Entity Framework.
    </p>
    <p>
        El grupo se compone de:
        <ul>
            <li>Béatrice Byra</li>
            <li>Juliette Besançon</li>
            <li>Tristan Guérin</li>
        </ul>
    </p>
</div>

