﻿@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Gestor de Incidiencias</h1>
    </div>
</div><!--/.row-->
<div class="jumbotron">
    <p class="lead">El Gestor de Incidencias es una applicacción .NET para la gestión y control de la seguridad en las sedes de la Universidad Peruana de Ciencias Aplicadas (UPC)</p>
    <p><a class="btn btn-default" href="@Url.Action("Login", "Home")">Ingresar Ahora &raquo;</a></p>
</div>
