﻿@model WebApplication.ViewModel.DashboardViewModel

@{
    ViewBag.Title = "Inicio";

    WebApplication.Models.User objUser = null;
    bool IsAdmin = false;
    objUser = ((WebApplication.Models.User)Session["objUser"]);
    if (objUser.IsSupervisor == 0)
    {
        IsAdmin = true;
    }
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">UPC</h1>
    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="panel panel-blue panel-widget ">
            <div class="row no-padding">
                <div class="col-sm-3 col-lg-4 widget-left">
                    <svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg>
                </div>
                <div class="col-sm-9 col-lg-8 widget-right">
                    <div class="large">Director</div>
                    <div class="text-muted">@Model.NombreDirector</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="panel panel-orange panel-widget">
            <div class="row no-padding">
                <div class="col-sm-3 col-lg-4 widget-left">
                    <svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg>
                </div>
                <div class="col-sm-9 col-lg-8 widget-right">
                    <div class="large">Sedes</div>
                    <div class="text-muted">@Model.NumeroSedes</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="panel panel-teal panel-widget">
            <div class="row no-padding">
                <div class="col-sm-3 col-lg-4 widget-left">
                    <svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>
                </div>
                <div class="col-sm-9 col-lg-8 widget-right">
                    <div class="large">Usuarios</div>
                    <div class="text-muted">@Model.NumeroUsuarios</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="panel-body">
    <div class="panel panel-primary filterable">
            <div class="panel-heading">Sedes
              @{ if(IsAdmin){
            <div class="pull-right">
                <button type="button" class="btn btn-primary addEditBtn" data-toggle="modal" data-target="#myModal" data-action="add"><i class="fa fa-plus"></i>&nbsp;Agregar</button>
            </div>
          }}
        </div>
        <table class="table table-striped">
            <thead>
                <tr class="filters" data-search="true">
                    <th><input type="text" class="form-control" placeholder="Id" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Nombre" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Direccion" disabled></th>
                    <th><button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filtro</button></th>
                </tr>
            </thead>
            <tbody id="bodydatatable">
                @foreach (var item in Model.ListSed)
                {
                    <tr data-id="@item.idSed">
                        <td data-col="id">
                            @item.idSed
                        </td>
                        <td data-col="nombre">@item.Nombre</td>
                        <td data-col="dir">@item.Direccion</td>
                        <td>
                        @if(IsAdmin){
                          <button type="button" class="btn btn-default addEditBtn" data-action="edit" data-toggle="modal" data-target="#myModal">
                              <i class="fa fa-pencil"></i>&nbsp;Editar
                          </button>
                        }
                        </td>
                        <td>
                        @if(IsAdmin){
                          <button type="button" class="btn btn-default deleteEntry">
                              <i class="fa fa-trash"></i>&nbsp;
                          </button>
                        }
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div><!--/.row-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Administrar Sede</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-lg-12">
                                    <input type="hidden" data-url="@Url.Action("AddSed")" id="addUrl">

                                    <input type="hidden" data-url="@Url.Action("EditSed")" id="editUrl">

                                    <form action="#" method="post" role="form" id="formAddEdit" data-action="add">
                                            @Html.HiddenFor(x => x.obj.idSed, new { @Class = "form-control" })
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            @Html.TextBoxFor(x => x.obj.Nombre, new { @Class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>Direccion</label>
                                            @Html.TextBoxFor(x => x.obj.Direccion, new { @Class = "form-control" })
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.row-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Post Add Edit -->
<script>
    //Submit form override
    $("#formAddEdit").submit(function (e) {
        e.preventDefault();
        var action = $(this).data("action");
        var url = "";
        if (action == "add") {
            url = $("#addUrl").data("url");
        } else if (action == "edit") {
            url = $("#editUrl").data("url");
        } else {
            return;
        }
        $.ajax({
            url: url, type: 'post', data: $(this).serialize()
        }).done(function (result) { $('#myModal').modal('toggle'); console.log(result); if (result == "ok") parent.location.reload(); })
        .always(function (e) { console.log(e) });
    });
    $("#btnGuardar").click(function () {

        $("#formAddEdit").submit();

    });

    //modal open override
    $('#myModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var modal = $(this)
      if ($("#formAddEdit").data("action") == "edit") {

        var row = button.parent().parent();
        modal.find('#obj_idSed').val(row.find('td[data-col="id"]').text());
        modal.find('#obj_Nombre').val(row.find('td[data-col="nombre"]').text());
        modal.find('#obj_Direccion').val(row.find('td[data-col="dir"]').text());
      } else if ($("#formAddEdit").data("action") == "add") {
        modal.find("input").val('');
      }
    });

    $('.addEditBtn').click(function (e) {
        $("#formAddEdit").data("action", $(this).data("action"));
    })

    $('.deleteEntry').click(function(e){
      e.preventDefault();
      var id = $(this).parent().parent().data("id");
      var url = "@Url.Action("DeleteSed")";
      $.ajax({
          url: url+"/"+id, type: 'get'
      }).done(function (result) { if(result == "ok")parent.location.reload();})
      .always(function (e) { console.log(e) });

    });
</script>
