﻿@model WebApplication.ViewModel.LoginViewModel
@{
    ViewBag.Title = "Login";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> Conectarse </h1>
    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-primary">
            <div class="panel-heading">Conexión</div>
            <div class="panel-body">
                <form role="form" action="@Url.Action("Login")" method="post">
                    <fieldset>
                        <div class="form-group">
                            <label>Usuario</label>
                            @Html.TextBoxFor(x => x.Username, new { @Class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Contraseña</label>
                            @Html.PasswordFor(x => x.Password, new { @Class = "form-control" })
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-sign-in"></i>&nbsp;Iniciar Sesion
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div><!-- /.col-->
</div><!-- /.row -->

