﻿@model WebApplication.ViewModel.LoginViewModel
@{
    ViewBag.Title = "Perfil";
    WebApplication.Models.User objUser = ((WebApplication.Models.User)Session["objUser"]);
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Mi Cuenta</h1>
    </div>
</div><!--/.row-->

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> </div>
                        <div class=" col-md-9 col-lg-9 ">
                          <form action="@Url.Action("EditUser")" method="post" role="form">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Nombre : </td>
                                        <td class="toggleHide">@Html.TextBoxFor(x => x.Nombre, new { @Class = "form-control", @Value = @objUser.NombreApe })</td>
                                        <td id="nombreUser" class="toggleShow">@objUser.NombreApe</td>
                                    </tr>
                                    <tr>
                                        <td>Role:</td>
                                        <td>@Model.RoleUsuario(@objUser.IsSupervisor)</td>
                                    </tr>
                                    <tr>
                                        <td>Usuario :</td>
                                        <td>@objUser.Username</td>
                                    </tr>
                                    <tr class ="toggleHide">
                                        <td>Password :</td>
                                        <td id="passwordinput" >@Html.TextBoxFor(x => x.PasswordNew, new { @Class = "form-control" })</td>
                                        <td class="toggleShow">@objUser.Password</td>
                                    </tr>
                                    <tr id="confirmPassword"  class="toggleHide">
                                        <td>Confirm Password :</td>
                                        <td>@Html.TextBoxFor(x => x.PasswordNewConfirm, new { @Class = "form-control" })</td>
                                        <td class="toggleShow">@objUser.Password</td>
                                    </tr>
                                    <tr class="toggleHide">
                                      <td></td>
                                      <td><button type="submit" class="btn btn-primary">Submit</button></td>
                                    </tr>
                                </tbody>
                            </table>
                          </form>
                            <button id="btnEdit" class="btn btn-primary toggleShow">Editar</button>
                            <button id="btnCancel" class="btn btn-primary toggleHide">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  $(".toggleHide").hide();
  $("#btnEdit").click(function(){
      $(".toggleHide").show();
      $(".toggleShow").hide();
  });
  $("#btnCancel").click(function(){
      $(".toggleHide").hide();
      $(".toggleShow").show();
      
  });

</script>
