﻿@model WebApplication.ViewModel.TipoIncidenciaViewModel

@{
    ViewBag.Title = "Tipo Incidencia";
    WebApplication.Models.User objUser = null;
    bool IsAdmin = false;
    objUser = ((WebApplication.Models.User)Session["objUser"]);
    if (objUser.IsSupervisor == 0)
    {
        IsAdmin = true;
    }
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> Tipo de Incidencia </h1>
    </div>
</div><!--/.row-->
<div class="panel-body">
    <div class="panel panel-primary filterable">
        <div class="panel-heading">
            Cantidad Tipo: @Model.NumeroTipoIncidencia
            @{ if(IsAdmin){
            <div class="pull-right">
                <button type="button" class="btn btn-primary addEditBtn" data-toggle="modal" data-target="#myModal" data-action="add"><i class="fa fa-plus"></i>&nbsp;Agregar</button>
            </div>
          }}
        </div>
        <table id="datatable" class="table table-striped">
            <thead>
                <tr class="filters" data-search="true">
                    <th><input type="text" class="form-control" placeholder="Id" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Acronimo" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Descripcion" disabled></th>
                    <th><input type="text" class="form-control" placeholder="N°Incidencias" disabled></th>
                    <th>
                        <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filtro</button>
                    </th>
                </tr>
            </thead>
            <tbody id="bodydatatable">
                @foreach (var item in Model.ListTipoIncidencia)
                {
                    <tr data-id="@item.IdTipo_incidencia">
                        <td data-col="id">
                            @item.IdTipo_incidencia
                        </td>
                        <td data-col="acr">@item.Acronimo</td>
                        <td data-col="des">@item.Descripcion</td>
                        <td>@Model.NumeroIncidencias(@item.IdTipo_incidencia)</td>
                        <td>
                        @if(IsAdmin){
                            <button type="button" class="btn btn-default addEditBtn" data-action="edit" data-toggle="modal" data-target="#myModal">
                                <i class="fa fa-pencil"></i>&nbsp;Editar
                            </button>
                          }
                        </td>
                        <td>
                        @if(IsAdmin){
                            <button type="button" class="btn btn-default deleteEntry">
                                <i class="fa fa-trash"></i>&nbsp;
                            </button>
                          }
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div><!--/.row-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Administrar Tipo de Incidencia</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-lg-12">
                                    <input type="hidden" data-url="@Url.Action("Add")" id="addUrl">

                                    <input type="hidden" data-url="@Url.Action("Edit")" id="editUrl">

                                    <form action="#" method="post" role="form" id="formAddEdit" data-action="add">
                                        @Html.HiddenFor(x => x.obj.IdTipo_incidencia, new { @Class = "form-control" })
                                        <div class="form-group">
                                            <label>Acronimo</label>
                                            @Html.TextBoxFor(x => x.obj.Acronimo, new { @Class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>Description</label>
                                            @Html.TextBoxFor(x => x.obj.Descripcion, new { @Class = "form-control" })
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.row-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Post Add Edit -->
<script>
    //Submit form override
    $("#formAddEdit").submit(function (e) {
        e.preventDefault();
        console.log($(this).serialize());
        var action = $(this).data("action");
        var url = "";
        if (action == "add") {
            url = $("#addUrl").data("url");
        } else if (action == "edit") {
            url = $("#editUrl").data("url");
        } else {
            return;
        }
        $.ajax({
            url: url, type: 'post', data: $(this).serialize()
        }).done(function (result) { $('#myModal').modal('toggle'); console.log(result); if (result == "ok") parent.location.reload(); })
        .always(function (e) { console.log(e) });
    });
    $("#btnGuardar").click(function () {

        $("#formAddEdit").submit();

    });

    //modal open override
    $('#myModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var modal = $(this)
      if ($("#formAddEdit").data("action") == "edit") {

        var row = button.parent().parent();
        modal.find('#obj_IdTipo_incidencia').val(row.find('td[data-col="id"]').text());
        modal.find('#obj_Acronimo').val(row.find('td[data-col="acr"]').text());
        modal.find('#obj_Descripcion').val(row.find('td[data-col="des"]').text());
      } else if ($("#formAddEdit").data("action") == "add") {
        modal.find("input").val('');
      }
    });

    $('.addEditBtn').click(function (e) {
        $("#formAddEdit").data("action", $(this).data("action"));
    })

    $('.deleteEntry').click(function(e){
      e.preventDefault();
      var id = $(this).parent().parent().data("id");
      var url = "@Url.Action("Delete")";
      $.ajax({
          url: url+"/"+id, type: 'get'
      }).done(function (result) { if(result == "ok")parent.location.reload();})
      .always(function (e) { console.log(e) });

    });
</script>
