﻿@model WebApplication.ViewModel.UsuariosViewModel
@{
    ViewBag.Title = "S’inscrire";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Registrar Usuario</h1>
    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-xs-5 col-xs-offset-2 col-sm-8 col-sm-offset-3 col-md-7 col-md-offset-3">
        <div class="login-panel panel panel-primary">
            <div class="panel-heading">ADMIN</div>
            <div class="panel-body">
                <form role="form">
                    <fieldset>
                            @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary()
                                <div class="form-group">
                                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-3 control-label" })
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                        <br />
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Role</label>
                                         <div class="col-md-12">
                                        <select class="form-control">
                                            <option>Supervisor</option>
                                            <option>Administrador</option>
                                        </select>
                                             <br />
                                        </div>
                                    </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                                    <div class="col-md-12">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        <br />
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-5 control-label" })
                                    <div class="col-md-12">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                        <br />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-5 col-md-10">
                                        <input type="submit" class="btn btn-primary" value="Registrar" />
                                    </div>
                                </div>
                            }
                    </fieldset>
                </form>
            </div>
        </div>
    </div><!-- /.col-->
</div><!-- /.row -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
