﻿@model WebApplication.ViewModel.UsuariosViewModel

@{
    ViewBag.Title = "Usuarios";
    WebApplication.Models.User objUser = null;
    bool IsAdmin = false;
    objUser = ((WebApplication.Models.User)Session["objUser"]);
        if(objUser.IsSupervisor == 0)
        {
            IsAdmin = true;
        }
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> @ViewBag.Title </h1>
    </div>
</div><!--/.row-->
<div class="panel-body">
    <div class="panel panel-primary filterable">
        <div class="panel-heading">
            Cantidad Usuarios: @Model.NumeroUsuarios
            @if(IsAdmin){
            <div class="pull-right">
                <button type="button" class="btn btn-primary addEditBtn" data-toggle="modal" data-target="#myModal" data-action="add"><i class="fa fa-plus"></i>&nbsp;Agregar</button>
            </div>
          }
        </div>
        <table class="table table-striped" id="datatable">
            <thead>
                <tr class="filters" data-search="true">
                    <th><input type="text" class="form-control" placeholder="Id" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Usuario" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Nombre Apellido" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Role" disabled></th>
                    <th>
                        <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filtro</button>
                    </th>
                </tr>
            </thead>
            <tbody id="bodydatatable">
                @foreach (var item in Model.ListUsuarios)
                {
                    <tr data-id="@item.IdUser">
                        <td data-col="id">
                            @item.IdUser
                        </td>
                        <td>@item.Username</td>
                        <td data-col="nom">@item.NombreApe</td>
                        <td data-col="type">@Model.RoleUsuario(@item.IsSupervisor)</td>
                        <td>
                        @if(IsAdmin){
                          <button type="button" class="btn btn-default addEditBtn" data-action="edit" data-toggle="modal" data-target="#myModal">
                              <i class="fa fa-pencil"></i>&nbsp;Editar
                          </button>
                        }
                        </td>
                        <td>
                        @if(IsAdmin){
                          <button type="button" class="btn btn-default deleteEntry">
                              <i class="fa fa-trash"></i>&nbsp;
                          </button>
                        }
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div><!--/.row-->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Administrar Usuario</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-lg-12">
                                    <input type="hidden" data-url="@Url.Action("Add")" id="addUrl">

                                    <input type="hidden" data-url="@Url.Action("Edit")" id="editUrl">

                                    <form action="#" method="post" role="form" id="formAddEdit" data-action="add">
                                        @Html.HiddenFor(x => x.obj.IdUser, new { @Class = "form-control" })
                                        <div class="form-group">
                                            <label>Nombre Apellido</label>
                                            @Html.TextBoxFor(x => x.obj.NombreApe, new { @Class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>Username</label>
                                            @Html.TextBoxFor(x => x.obj.Username, new { @Class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>Password</label>
                                            @Html.PasswordFor(x => x.obj.Password, new { @Class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>ADmin Type</label>
                                            @Html.DropDownListFor(x => x.AdminType,Model.EnumAdminType() ,new { @Class = "form-control" })
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.row-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Post Add Edit -->
<script>
    //Submit form override
    $("#formAddEdit").submit(function (e) {
        e.preventDefault();
        console.log($(this).serialize());
        var action = $(this).data("action");
        var url = "";
        if (action == "add") {
            url = $("#addUrl").data("url");
        } else if (action == "edit") {
            url = $("#editUrl").data("url");
        } else {
            return;
        }
        $.ajax({
            url: url, type: 'post', data: $(this).serialize()
        }).done(function (result) { $('#myModal').modal('toggle'); console.log(result); if (result == "ok") parent.location.reload(); })
        .always(function (e) { console.log(e) });
    });
    $("#btnGuardar").click(function () {

        $("#formAddEdit").submit();

    });

    //modal open override
    $('#myModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var modal = $(this)
      if ($("#formAddEdit").data("action") == "edit") {

        var row = button.parent().parent();
        modal.find('#obj_NombreApe').val(row.find('td[data-col="nom"]').text());
        var typeId = row.find('td[data-col="type"]').text();
        if (typeId == "Administrador") modal.find('#AdminType').val("0");
        if (typeId == "Supervisor") modal.find('#AdminType').val("1");
        modal.find('#obj_IdUser').val(row.find('td[data-col="id"]').text());
        modal.find('#obj_Username').prop('disabled', true);
        modal.find('#obj_Username').parent().hide();
        modal.find('#obj_Password').prop('disabled', true);
        modal.find('#obj_Password').parent().hide();
      } else if ($("#formAddEdit").data("action") == "add") {
        modal.find("input").val('');
        modal.find('#obj_Password').prop('disabled', false);
        modal.find('#obj_Password').parent().show();
        modal.find('#obj_Username').prop('disabled', false);
        modal.find('#obj_USername').parent().show();
      }
    });

    $('.addEditBtn').click(function (e) {
        $("#formAddEdit").data("action", $(this).data("action"));
    })

    $('.deleteEntry').click(function(e){
      e.preventDefault();
      var id = $(this).parent().parent().data("id");
      var url = "@Url.Action("Delete")";
      $.ajax({
          url: url+"/"+id, type: 'get'
      }).done(function (result) { if(result == "ok")parent.location.reload();})
      .always(function (e) { console.log(e) });

    });
</script>
