﻿@model WebApplication.ViewModel.IncidenciasViewModel

@{
    ViewBag.Title = "Incidencias";
    WebApplication.Models.User objUser = null;
    bool IsAdmin = false;
    if (Session["objUser"] != null)
    {
        objUser = ((WebApplication.Models.User)Session["objUser"]);
        if(objUser.IsSupervisor == 0)
        {
            IsAdmin = true;
        }
    }
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> Incidencias </h1>
    </div>
</div><!--/.row-->
<div class="panel-body">
    <div class="panel panel-primary filterable">
        <div class="panel-heading">
            Cantidad Incidencias: @Model.NumeroIncidencias
            <div class="pull-right">
                <button type="button" class="btn btn-primary addEditBtn" data-toggle="modal" data-target="#myModal" data-action="add"><i class="fa fa-plus"></i>&nbsp;Agregar</button>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr class="filters" data-search="true">
                    <th><input type="text" class="form-control" placeholder="Sed" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Fecha" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Description" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Tipo" disabled></th>
                    <th><input type="text" class="form-control" placeholder="User" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Solicitante" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Archivos" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Estado" disabled></th>

                    <th>
                        <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filtro</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListIncidencias)
                {
                    <tr data-id="@item.IdIncidencia">
                        <td data-col="id" style="display: none">@item.IdIncidencia</td>
                        <td data-col="sed">@item.Sed.Nombre</td>
                        <td style="display: none" data-col="idsed">@item.IdSed</td>
                        <td data-col="fec">@item.Fecha</td>
                        <td><div data-col="des">@item.Descripcion </div><div data-col="ubi">@item.Ubicaccion</div></td>
                        <td data-col="idtipo" style="display: none">@item.IdTipo_Incidencia</td>
                        <td data-col="tip">@item.Tipo_incidencia.Acronimo </td>
                        <td>@item.User.NombreApe</td>
                        <td><div data-col="nom">@item.Solicitante.NombreApe </div><div data-col="ema">@item.Solicitante.Email</div></td>
                        <td>
                            @Model.NumArchivos(@item.IdIncidencia)
                            <a class="btn btn"
                               href="@Url.Action("Index", "Archivos", new { id = item.IdIncidencia })">
                                <i class="fa fa-folder"></i>
                            </a>
                        </td>
                        <td data-col="idestado" style="display: none">@item.IdEstado_Incidencia</td>
                        <td data-col="est"> @item.Estado_incidencia.Acronimo </td>
                        <td>
                            <button type="button" class="btn btn-default addEditBtn" data-action="edit" data-toggle="modal" data-target="#myModal">
                                <i class="fa fa-pencil"></i>&nbsp;Editar
                            </button>
                        </td>
                        <td>
                            @if (IsAdmin)
                                {
                                    <button type="button" class="btn btn-default deleteEntry">
                                        <i class="fa fa-trash"></i>&nbsp;
                                    </button>
                                }
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div><!--/.row-->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Administrar Incidencia</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-lg-12">
                                    <input type="hidden" data-url="@Url.Action("Add")" id="addUrl">

                                    <input type="hidden" data-url="@Url.Action("Edit")" id="editUrl">

                                    <form action="#" method="post" role="form" id="formAddEdit" data-action="add">
                                        @Html.HiddenFor(x => x.obj.IdIncidencia, new { @Class = "form-control" })
                                        <div class="form-group">
                                            <label>Sedes</label>
                                            @Html.HiddenFor(x => x.obj.IdSed, new { @Class = "form-control" })
                                            @Html.DropDownListFor(x => x.SelectedSedId, Model.EnumSedes(), new { @class = "form-control" })
                                        </div>
                                        @Html.HiddenFor(x => x.obj.IdSolicitante, new { @Class = "form-control" })
                                        <div class="form-group">
                                            <label>Nombre Solicitante</label>
                                            @Html.TextBoxFor(x => x.obj.Solicitante.NombreApe, new { @Class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>Email Solicitante</label>
                                            @Html.TextBoxFor(x => x.obj.Solicitante.Email, new { @Class = "form-control" })
                                        </div>

                                        <div class="form-group">
                                            <label>Fecha</label>
                                            <div class='input-group date' id='datetimepicker'>
                                                @Html.TextBoxFor(x => x.obj.Fecha, new { @Class = "form-control" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Descripcion</label>
                                            @Html.TextBoxFor(x => x.obj.Descripcion, new { @Class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>Ubicaccion</label>
                                            @Html.TextBoxFor(x => x.obj.Ubicaccion, new { @Class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>Estado</label>
                                            @Html.HiddenFor(x => x.obj.IdEstado_Incidencia, new { @Class = "form-control" })
                                            @Html.DropDownListFor(x => x.SelectedEstadoId, Model.EnumEstadoIncidencia(), new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>Tipo</label>
                                            @Html.HiddenFor(x => x.obj.IdTipo_Incidencia, new { @Class = "form-control" })
                                            @Html.DropDownListFor(x => x.SelectedTipoId, Model.EnumTipoIncidenia(), new { @class = "form-control" })
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.row-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Post Add Edit -->
<script>
    //Submit form override
    $("#formAddEdit").submit(function (e) {
        e.preventDefault();
        console.log($(this).serialize());
        var action = $(this).data("action");
        var url = "";
        if (action == "add") {
            url = $("#addUrl").data("url");
        } else if (action == "edit") {
            url = $("#editUrl").data("url");
        } else {
            return;
        }
        $.ajax({
            url: url, type: 'post', data: $(this).serialize()
        }).done(function (result) { $('#myModal').modal('toggle'); console.log(result); if (result == "ok") parent.location.reload(); })
        .always(function (e) { console.log(e) });
    });
    $("#btnGuardar").click(function () {

        $("#formAddEdit").submit();

    });

    //modal open override
    $('#myModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var modal = $(this)
        if ($("#formAddEdit").data("action") == "edit") {

            var row = button.parent().parent();
            //Set obj Incidencia
            modal.find('#obj_IdIncidencia').val(row.find('td[data-col="id"]').text());
            modal.find('#obj_Descripcion').val(row.find('div[data-col="des"]').text());
            modal.find('#obj_Fecha').val(row.find('td[data-col="fec"]').text());
            modal.find('#obj_Ubicaccion').val(row.find('div[data-col="ubi"]').text());
            modal.find('#obj_Solicitante_NombreApe').val(row.find('div[data-col="nom"]').text());
            modal.find('#obj_Solicitante_Email').val(row.find('div[data-col="ema"]').text());
            modal.find('#obj_IdTipo_Incidencia').val(row.find('td[data-col="idtipo"]').text());
            modal.find('#obj_IdEstado_Incidencia').val(row.find('td[data-col="idestado"]').text());
            modal.find('#obj_IdSed').val(row.find('td[data-col="idsed"]').text());
            //Set DropDownList
            modal.find('#SelectedSedId').val(row.find('td[data-col="idsed"]').text());
            modal.find('#SelectedEstadoId').val(row.find('td[data-col="idestado"]').text());
            modal.find('#SelectedTipoId').val(row.find('td[data-col="idtipo"]').text());

        } else if ($("#formAddEdit").data("action") == "add") {
            modal.find("input").val('');
        }
    });

    $('.addEditBtn').click(function (e) {
        $("#formAddEdit").data("action", $(this).data("action"));
    })

    $('.deleteEntry').click(function (e) {
        e.preventDefault();
        var id = $(this).parent().parent().data("id");
        var url = "@Url.Action("Delete")";
        $.ajax({
            url: url + "/" + id, type: 'get'
        }).done(function (result) { if (result == "ok") parent.location.reload(); })
        .always(function (e) { console.log(e) });

    });
</script>
